
.general-class {
  .page-title {
    height: 30px;
    width: 100%;
    line-height: 30px;
    margin: 0 0 20px;
    padding: 0 0 0 10px;
    border-left: 3px solid #09c;
    color: #ccc;
  }
  .title-item {
    font-size: 14px;
    color: #000;
    margin-right: 8px;
  }
  // .next-switch-off {
  //   background-color: #f2f3f7;
  //   border-color: #c4c6cf;
  // }
}
